<article>
    <header>
        <h1>{{title}}</h1>
        <p>Author: {{author}}</p>
        <p>Last edit: {{edits.0.time}}</p>
    </header>
    {{{content}}}
    <footer>
        <p>Copyright {{author}} &copy; {{edits.0.time}} All rights reserved</p>
    </footer>
</article>
