<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{{head}}}
  </head>
  <body>
    <p id="message">
      Redirecting to <a href="{{target}}">{{target}}</a> in
      <span id="delay">JavaScript disabled</span> seconds...
    </p>
    <script>
      const delay_span = document.getElementById("delay");
      function countdown(remaining) {
        delay_span.innerHTML = remaining;
        if (remaining && remaining > 0) {
          setTimeout(countdown, 1000, remaining - 1);
        } else {
          window.location.replace("{{target}}");
        }
      }
      countdown({{delay}});
    </script>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: #f0f0f5;
        display: grid;
        align-content: center;
        justify-content: center;
        width: 100svw;
        height: 100svh;
      }
      p,
      a {
        color: #20202e;
        text-decoration: none;
        font-family: monospace;
      }
      a,
      #delay {
        display: inline-block;
        padding: 0.2ch;
        background-color: black;
      }
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #20202e;
        }
        p,
        a {
          color: #f0f0f5;
        }
      }
    </style>
  </body>
</html>
